<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unionhubapp">

    <application
        android:name=".MainApplication"
        android:label="UnionHub"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.facebook.react.ReactActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
